/*---------------------------------------------------------------------------*\
   UTILITY: SPACING
\*---------------------------------------------------------------------------*/
/**
 *
 * Utility classes for setting margins and paddings.
 *
 */

.u-m         { margin: $ui-unit !important; }
.u-m-x2      { margin: double( $ui-unit ) !important; }
.u-m-x4      { margin: quadruple( $ui-unit ) !important; }
.u-m-\/2     { margin: half( $ui-unit ) !important; }
.u-m-\/4     { margin: quarter( $ui-unit ) !important; }
.u-no-m      { margin: 0 !important; }

.u-mt        { margin-top: $ui-unit !important; }
.u-mt-x2     { margin-top: double( $ui-unit ) !important; }
.u-mt-x4     { margin-top: quadruple( $ui-unit ) !important; }
.u-mt-\/2    { margin-top: half( $ui-unit ) !important; }
.u-mt-\/4    { margin-top: quarter( $ui-unit ) !important; }
.u-no-mt     { margin-top: 0 !important; }

.u-mb        { margin-bottom: $ui-unit !important; }
.u-mb-x2     { margin-bottom: double( $ui-unit ) !important; }
.u-mb-x4     { margin-bottom: quadruple( $ui-unit ) !important; }
.u-mb-\/2    { margin-bottom: half( $ui-unit ) !important; }
.u-mb-\/4    { margin-bottom: quarter( $ui-unit ) !important; }
.u-no-mb     { margin-bottom: 0 !important; }

.u-ml        { margin-left: $ui-unit !important; }
.u-ml-x2     { margin-left: double( $ui-unit ) !important; }
.u-ml-x4     { margin-left: quadruple( $ui-unit ) !important; }
.u-ml-\/2    { margin-left: half( $ui-unit ) !important; }
.u-ml-\/4    { margin-left: quarter( $ui-unit ) !important; }
.u-no-ml     { margin-left: 0 !important; }

.u-mr        { margin-right: $ui-unit !important; }
.u-mr-x2     { margin-right: double( $ui-unit ) !important; }
.u-mr-x4     { margin-right: quadruple( $ui-unit ) !important; }
.u-mr-\/2    { margin-right: half( $ui-unit ) !important; }
.u-mr-\/4    { margin-right: quarter( $ui-unit ) !important; }
.u-no-mr     { margin-right: 0 !important; }

.u-p         { padding: $ui-unit !important; }
.u-p-x2      { padding: double( $ui-unit ) !important; }
.u-p-x4      { padding: quadruple( $ui-unit ) !important; }
.u-p-\/2     { padding: half( $ui-unit ) !important; }
.u-p-\/4     { padding: quarter( $ui-unit ) !important; }
.u-no-p      { padding: 0 !important; }

.u-pt        { padding-top: $ui-unit !important; }
.u-pt-x2     { padding-top: double( $ui-unit ) !important; }
.u-pt-x4     { padding-top: quadruple( $ui-unit ) !important; }
.u-pt-\/2    { padding-top: half( $ui-unit ) !important; }
.u-pt-\/4    { padding-top: quarter( $ui-unit ) !important; }
.u-no-pt     { padding-top: 0 !important; }

.u-pb        { padding-bottom: $ui-unit !important; }
.u-pb-x2     { padding-bottom: double( $ui-unit ) !important; }
.u-pb-x4     { padding-bottom: quadruple( $ui-unit ) !important; }
.u-pb-\/2    { padding-bottom: half( $ui-unit ) !important; }
.u-pb-\/4    { padding-bottom: quarter( $ui-unit ) !important; }
.u-no-pb     { padding-bottom: 0 !important; }

.u-pl        { padding-left: $ui-unit !important; }
.u-pl-x2     { padding-left: double( $ui-unit ) !important; }
.u-pl-x4     { padding-left: quadruple( $ui-unit ) !important; }
.u-pl-\/2    { padding-left: half( $ui-unit ) !important; }
.u-pl-\/4    { padding-left: quarter( $ui-unit ) !important; }
.u-no-pl     { padding-left: 0 !important; }

.u-pr        { padding-right: $ui-unit !important; }
.u-pr-x2     { padding-right: double( $ui-unit ) !important; }
.u-pr-x4     { padding-right: quadruple( $ui-unit ) !important; }
.u-pr-\/2    { padding-right: half( $ui-unit ) !important; }
.u-pr-\/4    { padding-right: quarter( $ui-unit ) !important; }
.u-no-pr     { padding-right: 0 !important; }


@include bp-medium {
.u-m\@m      { margin: $ui-unit !important; }
.u-m-x2\@m   { margin: double( $ui-unit ) !important; }
.u-m-x4\@m   { margin: quadruple( $ui-unit ) !important; }
.u-m-\/2\@m  { margin: half( $ui-unit ) !important; }
.u-m-\/4\@m  { margin: quarter( $ui-unit ) !important; }
.u-no-m\@m   { margin: 0 !important; }

.u-mt\@m     { margin-top: $ui-unit !important; }
.u-mt-x2\@m  { margin-top: double( $ui-unit ) !important; }
.u-mt-x4\@m  { margin-top: quadruple( $ui-unit ) !important; }
.u-mt-\/2\@m { margin-top: half( $ui-unit ) !important; }
.u-mt-\/4\@m { margin-top: quarter( $ui-unit ) !important; }
.u-no-mt\@m  { margin-top: 0 !important; }

.u-mb\@m     { margin-bottom: $ui-unit !important; }
.u-mb-x2\@m  { margin-bottom: double( $ui-unit ) !important; }
.u-mb-x4\@m  { margin-bottom: quadruple( $ui-unit ) !important; }
.u-mb-\/2\@m { margin-bottom: half( $ui-unit ) !important; }
.u-mb-\/4\@m { margin-bottom: quarter( $ui-unit ) !important; }
.u-no-mb\@m  { margin-bottom: 0 !important; }

.u-ml\@m     { margin-left: $ui-unit !important; }
.u-ml-x2\@m  { margin-left: double( $ui-unit ) !important; }
.u-ml-x4\@m  { margin-left: quadruple( $ui-unit ) !important; }
.u-ml-\/2\@m { margin-left: half( $ui-unit ) !important; }
.u-ml-\/4\@m { margin-left: quarter( $ui-unit ) !important; }
.u-no-ml\@m  { margin-left: 0 !important; }

.u-mr\@m     { margin-right: $ui-unit !important; }
.u-mr-x2\@m  { margin-right: double( $ui-unit ) !important; }
.u-mr-x4\@m  { margin-right: quadruple( $ui-unit ) !important; }
.u-mr-\/2\@m { margin-right: half( $ui-unit ) !important; }
.u-mr-\/4\@m { margin-right: quarter( $ui-unit ) !important; }
.u-no-mr\@m  { margin-right: 0 !important; }

.u-p\@m      { padding: $ui-unit !important; }
.u-p-x2\@m   { padding: double( $ui-unit ) !important; }
.u-p-x4\@m   { padding: quadruple( $ui-unit ) !important; }
.u-p-\/2\@m  { padding: half( $ui-unit ) !important; }
.u-p-\/4\@m  { padding: quarter( $ui-unit ) !important; }
.u-no-p\@m   { padding: 0 !important; }

.u-pt\@m     { padding-top: $ui-unit !important; }
.u-pt-x2\@m  { padding-top: double( $ui-unit ) !important; }
.u-pt-x4\@m  { padding-top: quadruple( $ui-unit ) !important; }
.u-pt-\/2\@m { padding-top: half( $ui-unit ) !important; }
.u-pt-\/4\@m { padding-top: quarter( $ui-unit ) !important; }
.u-no-pt\@m  { padding-top: 0 !important; }

.u-pb\@m     { padding-bottom: $ui-unit !important; }
.u-pb-x2\@m  { padding-bottom: double( $ui-unit ) !important; }
.u-pb-x4\@m  { padding-bottom: quadruple( $ui-unit ) !important; }
.u-pb-\/2\@m { padding-bottom: half( $ui-unit ) !important; }
.u-pb-\/4\@m { padding-bottom: quarter( $ui-unit ) !important; }
.u-no-pb\@m  { padding-bottom: 0 !important; }

.u-pl\@m     { padding-left: $ui-unit !important; }
.u-pl-x2\@m  { padding-left: double( $ui-unit ) !important; }
.u-pl-x4\@m  { padding-left: quadruple( $ui-unit ) !important; }
.u-pl-\/2\@m { padding-left: half( $ui-unit ) !important; }
.u-pl-\/4\@m { padding-left: quarter( $ui-unit ) !important; }
.u-no-pl\@m  { padding-left: 0 !important; }

.u-pr\@m     { padding-right: $ui-unit !important; }
.u-pr-x2\@m  { padding-right: double( $ui-unit ) !important; }
.u-pr-x4\@m  { padding-right: quadruple( $ui-unit ) !important; }
.u-pr-\/2\@m { padding-right: half( $ui-unit ) !important; }
.u-pr-\/4\@m { padding-right: quarter( $ui-unit ) !important; }
.u-no-pr\@m  { padding-right: 0 !important; }
}


@include bp-large {
.u-m\@l      { margin: $ui-unit !important; }
.u-m-x2\@l   { margin: double( $ui-unit ) !important; }
.u-m-x4\@l   { margin: quadruple( $ui-unit ) !important; }
.u-m-\/2\@l  { margin: half( $ui-unit ) !important; }
.u-m-\/4\@l  { margin: quarter( $ui-unit ) !important; }
.u-no-m\@l   { margin: 0 !important; }

.u-mt\@l     { margin-top: $ui-unit !important; }
.u-mt-x2\@l  { margin-top: double( $ui-unit ) !important; }
.u-mt-x4\@l  { margin-top: quadruple( $ui-unit ) !important; }
.u-mt-\/2\@l { margin-top: half( $ui-unit ) !important; }
.u-mt-\/4\@l { margin-top: quarter( $ui-unit ) !important; }
.u-no-mt\@l  { margin-top: 0 !important; }

.u-mb\@l     { margin-bottom: $ui-unit !important; }
.u-mb-x2\@l  { margin-bottom: double( $ui-unit ) !important; }
.u-mb-x4\@l  { margin-bottom: quadruple( $ui-unit ) !important; }
.u-mb-\/2\@l { margin-bottom: half( $ui-unit ) !important; }
.u-mb-\/4\@l { margin-bottom: quarter( $ui-unit ) !important; }
.u-no-mb\@l  { margin-bottom: 0 !important; }

.u-ml\@l     { margin-left: $ui-unit !important; }
.u-ml-x2\@l  { margin-left: double( $ui-unit ) !important; }
.u-ml-x4\@l  { margin-left: quadruple( $ui-unit ) !important; }
.u-ml-\/2\@l { margin-left: half( $ui-unit ) !important; }
.u-ml-\/4\@l { margin-left: quarter( $ui-unit ) !important; }
.u-no-ml\@l  { margin-left: 0 !important; }

.u-mr\@l     { margin-right: $ui-unit !important; }
.u-mr-x2\@l  { margin-right: double( $ui-unit ) !important; }
.u-mr-x4\@l  { margin-right: quadruple( $ui-unit ) !important; }
.u-mr-\/2\@l { margin-right: half( $ui-unit ) !important; }
.u-mr-\/4\@l { margin-right: quarter( $ui-unit ) !important; }
.u-no-mr\@l  { margin-right: 0 !important; }

.u-p\@l      { padding: $ui-unit !important; }
.u-p-x2\@l   { padding: double( $ui-unit ) !important; }
.u-p-x4\@l   { padding: quadruple( $ui-unit ) !important; }
.u-p-\/2\@l  { padding: half( $ui-unit ) !important; }
.u-p-\/4\@l  { padding: quarter( $ui-unit ) !important; }
.u-no-p\@l   { padding: 0 !important; }

.u-pt\@l     { padding-top: $ui-unit !important; }
.u-pt-x2\@l  { padding-top: double( $ui-unit ) !important; }
.u-pt-x4\@l  { padding-top: quadruple( $ui-unit ) !important; }
.u-pt-\/2\@l { padding-top: half( $ui-unit ) !important; }
.u-pt-\/4\@l { padding-top: quarter( $ui-unit ) !important; }
.u-no-pt\@l  { padding-top: 0 !important; }

.u-pb\@l     { padding-bottom: $ui-unit !important; }
.u-pb-x2\@l  { padding-bottom: double( $ui-unit ) !important; }
.u-pb-x4\@l  { padding-bottom: quadruple( $ui-unit ) !important; }
.u-pb-\/2\@l { padding-bottom: half( $ui-unit ) !important; }
.u-pb-\/4\@l { padding-bottom: quarter( $ui-unit ) !important; }
.u-no-pb\@l  { padding-bottom: 0 !important; }

.u-pl\@l     { padding-left: $ui-unit !important; }
.u-pl-x2\@l  { padding-left: double( $ui-unit ) !important; }
.u-pl-x4\@l  { padding-left: quadruple( $ui-unit ) !important; }
.u-pl-\/2\@l { padding-left: half( $ui-unit ) !important; }
.u-pl-\/4\@l { padding-left: quarter( $ui-unit ) !important; }
.u-no-pl\@l  { padding-left: 0 !important; }

.u-pr\@l     { padding-right: $ui-unit !important; }
.u-pr-x2\@l  { padding-right: double( $ui-unit ) !important; }
.u-pr-x4\@l  { padding-right: quadruple( $ui-unit ) !important; }
.u-pr-\/2\@l { padding-right: half( $ui-unit ) !important; }
.u-pr-\/4\@l { padding-right: quarter( $ui-unit ) !important; }
.u-no-pr\@l  { padding-right: 0 !important; }
}

@include bp-wide {
.u-m\@w      { margin: $ui-unit !important; }
.u-m-x2\@w   { margin: double( $ui-unit ) !important; }
.u-m-x4\@w   { margin: quadruple( $ui-unit ) !important; }
.u-m-\/2\@w  { margin: half( $ui-unit ) !important; }
.u-m-\/4\@w  { margin: quarter( $ui-unit ) !important; }
.u-no-m\@w   { margin: 0 !important; }

.u-mt\@w     { margin-top: $ui-unit !important; }
.u-mt-x2\@w  { margin-top: double( $ui-unit ) !important; }
.u-mt-x4\@w  { margin-top: quadruple( $ui-unit ) !important; }
.u-mt-\/2\@w { margin-top: half( $ui-unit ) !important; }
.u-mt-\/4\@w { margin-top: quarter( $ui-unit ) !important; }
.u-no-mt\@w  { margin-top: 0 !important; }

.u-mb\@w     { margin-bottom: $ui-unit !important; }
.u-mb-x2\@w  { margin-bottom: double( $ui-unit ) !important; }
.u-mb-x4\@w  { margin-bottom: quadruple( $ui-unit ) !important; }
.u-mb-\/2\@w { margin-bottom: half( $ui-unit ) !important; }
.u-mb-\/4\@w { margin-bottom: quarter( $ui-unit ) !important; }
.u-no-mb\@w  { margin-bottom: 0 !important; }

.u-ml\@w     { margin-left: $ui-unit !important; }
.u-ml-x2\@w  { margin-left: double( $ui-unit ) !important; }
.u-ml-x4\@w  { margin-left: quadruple( $ui-unit ) !important; }
.u-ml-\/2\@w { margin-left: half( $ui-unit ) !important; }
.u-ml-\/4\@w { margin-left: quarter( $ui-unit ) !important; }
.u-no-ml\@w  { margin-left: 0 !important; }

.u-mr\@w     { margin-right: $ui-unit !important; }
.u-mr-x2\@w  { margin-right: double( $ui-unit ) !important; }
.u-mr-x4\@w  { margin-right: quadruple( $ui-unit ) !important; }
.u-mr-\/2\@w { margin-right: half( $ui-unit ) !important; }
.u-mr-\/4\@w { margin-right: quarter( $ui-unit ) !important; }
.u-no-mr\@w  { margin-right: 0 !important; }

.u-p\@w      { padding: $ui-unit !important; }
.u-p-x2\@w   { padding: double( $ui-unit ) !important; }
.u-p-x4\@w   { padding: quadruple( $ui-unit ) !important; }
.u-p-\/2\@w  { padding: half( $ui-unit ) !important; }
.u-p-\/4\@w  { padding: quarter( $ui-unit ) !important; }
.u-no-p\@w   { padding: 0 !important; }

.u-pt\@w     { padding-top: $ui-unit !important; }
.u-pt-x2\@w  { padding-top: double( $ui-unit ) !important; }
.u-pt-x4\@w  { padding-top: quadruple( $ui-unit ) !important; }
.u-pt-\/2\@w { padding-top: half( $ui-unit ) !important; }
.u-pt-\/4\@w { padding-top: quarter( $ui-unit ) !important; }
.u-no-pt\@w  { padding-top: 0 !important; }

.u-pb\@w     { padding-bottom: $ui-unit !important; }
.u-pb-x2\@w  { padding-bottom: double( $ui-unit ) !important; }
.u-pb-x4\@w  { padding-bottom: quadruple( $ui-unit ) !important; }
.u-pb-\/2\@w { padding-bottom: half( $ui-unit ) !important; }
.u-pb-\/4\@w { padding-bottom: quarter( $ui-unit ) !important; }
.u-no-pb\@w  { padding-bottom: 0 !important; }

.u-pl\@w     { padding-left: $ui-unit !important; }
.u-pl-x2\@w  { padding-left: double( $ui-unit ) !important; }
.u-pl-x4\@w  { padding-left: quadruple( $ui-unit ) !important; }
.u-pl-\/2\@w { padding-left: half( $ui-unit ) !important; }
.u-pl-\/4\@w { padding-left: quarter( $ui-unit ) !important; }
.u-no-pl\@w  { padding-left: 0 !important; }

.u-pr\@w     { padding-right: $ui-unit !important; }
.u-pr-x2\@w  { padding-right: double( $ui-unit ) !important; }
.u-pr-x4\@w  { padding-right: quadruple( $ui-unit ) !important; }
.u-pr-\/2\@w { padding-right: half( $ui-unit ) !important; }
.u-pr-\/4\@w { padding-right: quarter( $ui-unit ) !important; }
.u-no-pr\@w  { padding-right: 0 !important; }
}
