/*---------------------------------------------------------------------------*\
   SETTINGS: BREAKPOINTS
\*---------------------------------------------------------------------------*/
/**
 *
 * Defined breakpoints.
 *
 */

$bp-medium:  560px;
$bp-large:   760px;
$bp-wide:    1024px;
$bp-xwide:   1280px;
