/*---------------------------------------------------------------------------*\
   TYPOGRAPHY
\*---------------------------------------------------------------------------*/
/**
 *
 * Default typography settings.
 *
 */

$ff-sans:         $font-stack-system;
$ff-serif:        $font-stack-georgia;
$ff-display:      $font-stack-georgia;
$ff-mono:         $font-stack-mono;
