/*---------------------------------------------------------------------------*\
   PLACEHOLDERS: TYPOGRAPHY
\*---------------------------------------------------------------------------*/
/**
 *
 * Placeholders for project typography.
 *
 */

%ff-sans {
  font-family: $ff-sans;
  font-style: normal;
  font-weight: 400;
}
%ff-serif {
  font-family: $ff-serif;
  font-style: normal;
  font-weight: 400;
}
%ff-display {
  font-family: $ff-display;
  font-style: normal;
  font-weight: 400;
}
%ff-mono {
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
}
